{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post" id="signup-form" action="/login/">
                {% csrf_token %}
                <div class="heading">Login</div>
                <div class="line"></div>
                <div class="field">
                    <b>Username</b>
                    <input type="text" required class="inp" placeholder="Enter your Username" name="fnm" id="username">
                </div>
                
                <div class="field">
                    <b>Password</b>
                    <input type="password" class="inp" name="pwd" required id="password">
                </div>
                <div class="field">
                    <input type="submit" class="submit-button" value="Logs in">
                </div>
            </form>
            <div class="field">
                <b>Don't have an account?</b>
                <br>
                <a class="anc" href="/signup">Signup Here</a>
            </div>
        </div>
    </div>
</body>
</html>
